body {
    background-image: url("https://freerangestock.com/sample/52651/wavy-turquoise-background-means-artistic-design-or-digital-art-.jpg");
    background-size: 100%;
    color: #000;
}
.container {
    display: flex;
    margin: 6.5rem 12rem;
    
}
h2{
    margin-top: -1rem;

}
.student, .admin {
    height: 30rem;
    padding: 3rem;
    width: 20rem;
    background-color: rgba(250, 249, 246, 0.5);
    border-radius: 0.5em;
    font-size: 1.4rem;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.student {
    margin-left: 8rem;
}
.admin {
    margin-left: 10rem;
}
.container h1 {
    color: #000;
}
input {
    background-color: #fff;
    border: 1px solid #848484;
	outline:0;
    margin-top: 0.5rem;
	height: 2.5rem;;
	width: 18rem;
    text-align: center;
    font-size: larger;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btn {
    margin-top: 2rem;
    background-color: #09009B;
    color: white;
    border: none;
    width: 8rem;
    height: 3rem;
    font-size: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}

.or {
    margin: 1rem;
}
.btn-warning {
    background-color: #FFA400;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}